
.empower-container{
    color:white;
    background-image: url("./empower.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding:40px; 
    /* margin:10px; */
}

.empower-container>h1{
    font-size: 60px;
    margin-bottom: 10px;
    width:70%;
}
.empower-content{
    width:50%;
    margin-bottom: 10px;
}
.empower-buttons>button{
    padding: 10px 20px;
    border-radius: 25px;
    background-color: rgb(85, 171, 85);
    color: white;
    border:none;
    margin-right:15px ;
}
.empower-buttons{
    margin-top: 20px;
}
.advisorbutton{
    background-color: rgb(98, 98, 184);
}
@media (max-width:720px){
    .empower-container>h1{
        width:100%;
    }
.empower-content{
     width:100%;
}
}
@media(max-width:720px){
    .empower-container>h1{
        font-size:40px;
    }
}
.empower-products>li{
    list-style-type: none;
    margin-bottom: 8px;
}
  .tickimage{
    height:15px;
    width:15px;
  }
  .home-text{
    display: flex;
    gap:40px;
    text-align:justify;
    justify-content: center;
  }

.logo{
    gap:10px;
    margin-left: 40px;

}
.web{
    background-color: #5665B0;
    display:flex;
    gap:60px;
   /* margin: 20px; */
    position: fixed;
    color: white;
    padding-top:10px;
    width: 100%;
    justify-content: space-around;
}
@media(max-width:700px){
    .logo{
        justify-content: space-between;
    }
}
.button5{
    background-color:greenyellow;
    border-radius: 20px;
    justify-content: center;
    text-align:center ;
    margin-top: opx;
}
.button6{
    border-radius: 20px;
    color:white;
    background-color: greenyellow;
    margin-top: 20px;
    padding: 10px 20px;
}
.button7{
    border-radius: 20px;
    color:blue;
    margin-top: 20px;
    padding: 10px 20px;
}
.div{
    height: 200px;
    width: 200px;

}
.home{
    display:flex;
    gap:10px;
    padding-top: 20px;
    margin: 20px;
}
 @media(max-width:700px){
    .home{
        flex-wrap: wrap-reverse;
    }

 }
.button8{
    border-radius: 20px;
    color:white;
    background-color: greenyellow;
    margin-top: 20px;
    padding: 10px 20px;
}
.button9{
    border-radius: 20px;
    color:blue;
    margin-top: 20px;
    padding: 10px 20px;
}
.image-context{
    height: 200px;
    width: 200px;

}
.loan-container{
    display:flex;
    gap:10px;
    padding-top: 20px;
    margin: 20px;
}
@media(max-width:700px){
    .loan-container{
        flex-wrap: wrap;
    }

 }

 .button10{
    border-radius: 20px;
    color:white;
    background-color: greenyellow;
    margin-top: 20px;
    padding: 10px 20px;
}
.button11{
    border-radius: 20px;
    color:blue;
    margin-top: 20px;
    padding: 10px 20px;
}
.image-over{
    height: 200px;
    width: 200px;

}
.over{
    display:flex;
    gap:10px;
    padding-top: 20px;
    margin: 20px;
}
@media(max-width:700px){
    .over{
        flex-wrap: wrap-reverse;
    }
}
.button12{
    border-radius: 20px;
    color:white;
    background-color: greenyellow;
    margin-top: 20px;
    padding: 10px 20px;
}
.button13{
    border-radius: 20px;
    color:blue;
    margin-top: 20px;
    padding: 10px 20px;
}
.image-professional{
    height: 200px;
    width: 200px;

}
.professional{
    display:flex;
    gap:10px;
    padding-top: 20px;
    margin: 20px;
}
 @media(max-width:700px){
    .professional{
        flex-wrap: wrap;
    }
}
.button14{
    border-radius: 20px;
    color:white;
    background-color: greenyellow;
    margin-top: 20px;
    padding: 10px 20px;
}
.button15{
    border-radius: 20px;
    color:blue;
    margin-top: 20px;
    padding: 10px 20px;
}
.image-vehicle{
    height: 200px;
    width: 200px;

}
.vehicle-container{
    display:flex;
    gap:10px;
    padding-top: 20px;
    margin: 20px;
}
 @media(max-width:700px){
    .vehicle-container{
        flex-wrap: wrap;
    }
}

.button16{
    border-radius: 20px;
    color:white;
    background-color: greenyellow;
    margin-top: 20px;
    padding: 10px 20px;
}
.button17{
    border-radius: 20px;
    color:blue;
    margin-top: 20px;
    padding: 10px 20px;
}
.image-health{
    height: 200px;
    width: 200px;

}
.health-container{
    display:flex;
    gap:10px;
    padding-top: 20px;
    margin: 20px;
}
 @media(max-width:700px){
    .health-container{
        flex-wrap: wrap;
    }
}


.CIBL-container{
    display: flex;
    background-color: rgb(251, 248, 248);
    padding: 40px;
    /* margin:20px; */
}
.CIBL-image{
    height: 200px;
    width:200px;
    padding-top: 50px;
}
.score{
    border-radius: 25px;
    background-color:greenyellow;
    color:white;
    margin-top: 20px;
    padding: 10px 20px;
}
@media(max-width:700px){
    .CIBL-container {
        flex-wrap: wrap-reverse;
    }
}
@media(max-width:700px){
    .CIBL-image{
        height:300px;
        width:300px;
    }

}

.elig-image{
    height: 200px;
    width:  200px;

}
.elig-container{
    display:flex;
    padding: 40px;
    gap:20px;
    background-color:#5665B0;
    /* margin: 20px; */
}
.elig-button{
    border-radius: 25px;
    background-color:rgb(114, 179, 114);
    color:white;
    margin-top: 20px;
    padding: 10px 20px;
}
@media (max-width:720px){
    .elig-content>h1{
        width:100%;
    }
    .elig-container{
        flex-wrap: wrap-reverse;
    }
}
@media(max-width:720px){
    .elig-content>h1{
        font-size:40px;
    }
}
.image-news{
    height: 200px;
    width:  200px;
    padding-top:40px;
}
.news-container{
    display: flex;
    background-color: #5665B0;
    color:white;
    padding-bottom: 30px;
    
}
.check-button{
    padding: 6px 12px;
    text-align:start;
    gap:10px;

}
.news-context{
    margin: 10px;
    width:70%;
    color: white;
    padding:20px;
}
.news-header{
    color: white;
    margin-left:40px;
    width:40%;
    font-size: 20px;
    padding-top: 30px;
    font-weight:700 !important;
    margin: 0px opx 8px;
}
.div-news{
    display: flex;
    margin-left: 20px;
    gap:0px;
}
@media(max-width:720px){
    .news-container{
        flex-wrap: wrap-reverse;
    }

}



.footer-main{
    display:flex;
    justify-content: space-around;
    padding: 40px;
    gap:20px;
    flex-wrap: wrap;
    background-color: rgb(249, 247, 247);


}
 .footer-logo{
    width:130px;
 }
 .footer-content>h4{
    color: rgb(95, 95, 182);

 }
 .footer-content{
    display:flex;
    flex-direction: column;
    gap:10px;
 }

 @media(max-width:700px){
    .footer-main{
        flex-wrap: wrap;
    }

 }
 .main-header{
         margin:30px;

 }
 .name-header{
    display: flex;
    gap:10px;
 }
 .namer{
    display: flex;
    margin: 20px;
 }
 .check-imag{
       height: 200px;
       width: 300px;
 }
 .check-button{
    border-radius: 25px;
    background-color: rgb(39, 250, 39);
    color:white;
    margin-left: 90px;
    margin-top: 20px;
    padding: 10px 40px;

 }
 @media(max-width:700px){
    .main-header{
        flex-wrap: wrap;
    }
}


 /* @media(max-width:700){
    .main-content{
        font-size: 50px;
    }
 } */

 .ques-header{
    display: flex;
    text-align: start;
    justify-content:center;
 } 
 .image-ques{
    height: 40px;
    width: 40px;
    gap:10px;
    margin:10px 0px 50px 0px;
    vertical-align: middle;
 }
 .ques-container{
    text-align: center;
    justify-content: center;
 }
 .ques1-header{
    display: flex;
    text-align: start;
    justify-content:center;
    font-size: 16px;


 } 
 .image1-ques{
    height: 40px;
    width: 40px;
    gap:10px;
    margin:10px 0px 50px 0px;
    vertical-align: middle;
 }
 .ques2-header{
    display: flex;
    text-align: start;
    justify-content:center;
 } 
 .image2-ques{
    height: 40px;
    width: 40px;
    gap:10px;
    margin:10px 0px 50px 0px;
    vertical-align: middle;
 }
 .ques3-header{
    display: flex;
    text-align: start;
    justify-content:center;
 } 
 .image3-ques{
    height: 40px;
    width: 40px;
    gap:10px;
    margin:10px 0px 50px 0px;
    vertical-align: middle;
 }
 .ques4-header{
    display: flex;
    text-align: start;
    justify-content:center;
 } 
 .image4-ques{
    height: 40px;
    width: 40px;
    gap:10px;
    margin:10px 0px 50px 0px;
    vertical-align: middle;
 }